<div class="login-container">
    <p-card header="Login" styleClass="login-card">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
            <div class="field">
                <span class="p-float-label">
                    <input id="email" type="email" pInputText formControlName="email" class="w-full" />
                    <label for="email">Email</label>
                </span>
                @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                <small class="p-error">Please enter a valid email address</small>
                }
            </div>

            <div class="field">
                <span class="p-float-label">
                    <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="false"
                        styleClass="w-full" inputStyleClass="w-full">
                    </p-password>
                    <label for="password">Password</label>
                </span>
                @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                <small class="p-error">Password must be at least 8 characters</small>
                }
            </div>

            <button pButton type="submit" label="Login" class="w-full" [disabled]="loginForm.invalid">
            </button>
            <p>Create new Account! <a routerLink="/register">Register</a></p>
        </form>
    </p-card>
</div>