<section class="main">
  <img src="assets/icons/sticky-note.png" class="floating" alt="Sticky Note" />
  <h1>
    Think, plan, and track <br />
    <span>all in one place</span>
  </h1>
  <p>Efficiently manage your tasks and boost productivity.</p>
  <a class="btn-primary" routerLink="/analyze">Go to Analyze</a>

  <div class="info-cards">
    <div class="card">
      <img src="assets/icons/images.png" alt="Reminders" />
      <p>
        <strong>Reminders</strong><br />
        Today’s Meeting<br />
        13:00 - 13:45
      </p>
    </div>
    <div class="card">
      <img src="assets/icons/tasks-icon-32.png" alt="Tasks" />
      <p>
        <strong>Today's Tasks</strong><br />
        New ideas for campaign<br />
        Design PPT #4
      </p>
    </div>
    <div class="card">
      <img src="assets/icons/download.png" alt="Integrations" />
      <p>
        <strong>100+ Integrations</strong><br />
        Gmail, Slack, Calendar
      </p>
    </div>
  </div>
</section>
