<div class="register-container">
    <p-card header="Register" styleClass="register-card">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="register-form">
            <div class="field">
                <span class="p-float-label">
                    <input id="email" type="email" pInputText formControlName="email" class="w-full" />
                    <label for="email">Email</label>
                </span>
                @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
                <small class="p-error">Please enter a valid email address</small>
                }
            </div>

            <div class="field">
                <span class="p-float-label">
                    <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="true"
                        styleClass="w-full" inputStyleClass="w-full">
                    </p-password>
                    <label for="password">Password</label>
                </span>
                @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
                <small class="p-error">Password must be at least 8 characters</small>
                }
            </div>

            <div class="field">
                <span class="p-float-label">
                    <p-password id="confirmPassword" formControlName="confirmPassword" [toggleMask]="true"
                        [feedback]="false" styleClass="w-full" inputStyleClass="w-full">
                    </p-password>
                    <label for="confirmPassword">Confirm Password</label>
                </span>
                @if (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched) {
                <small class="p-error">Passwords do not match</small>
                }
            </div>

            <button pButton type="submit" label="Register" class="w-full" [disabled]="registerForm.invalid">
            </button>
            <p>Do you have account already! <a routerLink="/login">Login</a></p>
        </form>
    </p-card>
</div>